lable{
    display: inline-block;
    width: 100px;
    vertical-align: top;
}
.inputBox{
    width: 500px;
}
/*==========================================↓↓↓↓↓：For auto complete plugin============================================*/
.dropDown{
    display:inline-block;
    border: 1px solid #c5c5c5;
    position: absolute;
    background-color: #f9f9f9;
    list-style: none;
    padding: 0px;
}
.hoverLi{
    background-color: #1316ef;
}
.showDropDown{
    opacity: 1;
}
.hideDropDown{
    opacity: 0;
}
/*==========================================↑↑↑↑↑：For auto complete plugin============================================*/
