lable{
    display: inline-block;
    width: 100px;
    vertical-align: top;
}
.dropDown{
    display:inline-block;
    border: 1px solid #c5c5c5;
    position: absolute;
}
.hoverLi{
    background-color: aqua;
}
.showDropDown{
    opacity: 1;
}
.hideDropDown{
    opacity: 0;
}
